<h1>DaiDH</h1>
<h1>Angular Google Maps (AGM) Demo</h1>
<p><a href="https://angular-maps.com/" target="_blank">Official Website</a></p>
<p>
  <a
    href="https://giai-ma.blogspot.com/2020/10/angular-google-map-with-agmmap-icon.html"
    target="_blank"
    >Icon Online</a
  >
</p>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="true"
  [scaleControl]="true"
  (mapClick)="mapClicked($event)"
>
  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    [iconUrl]="m.iconUrl"
    [animation]="'BOUNCE'"
    (dragEnd)="markerDragEnd(m, $event)"
  >
    <!-- [animation]="'DROP'"  -->

    <agm-info-window>
      <strong>{{m.content}}</strong>
    </agm-info-window>

    <agm-overlay
      [visible]="false"
      [draggable]="true"
      [latitude]="m.lat"
      [longitude]="m.lng"
    >
      <i
        class="fas fa-map-marker-alt"
        [style.color]="m.color"
        style="font-size: 25px"
      ></i>
    </agm-overlay>
  </agm-marker>
</agm-map>
