// @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
// @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

agm-map {
  height: 300px;
}

* {
  font-family: Lato;
}

a {
  color: darkblue;
}
